.header__mobile-menu-button{
	display: inline-flex;
	position: absolute;
	padding: 0;
	margin: 0;
	border: none;
	background-color: transparent;
	left: 0;
}

.header__mobile-menu-button:active{
	background-color: rgba(110, 229, 255, 0.5);
}

@media all and (min-width: 768px){
	.header__mobile-menu-button{
		display: none;
	}
}