.card__lower{
	border-top: 1px solid var(--grey-2);
	padding: 12px 10px 10px;
	text-align: center;
}

@media all and (min-width: 768px){
	.card__lower{
		margin-top: 1.5rem;
		border-top: none;
		gap: 6px;
	}
}