.component-page__main{
	background-color: var(--bg-primary);
}

@media all and (min-width: 768px){
	.component-page__main{
		border-top: 1px solid var(--grey-2);
		background-color: var(--bg-scondary);
	}
}