/* colors */

.font-color-primary{
	color: var(--text-primary) !important;
}

.font-color-secondary{
	color: var(--text-secondary) !important;
}

.font-color-third{
	color: var(--text-third) !important;
}

.font-color-fourth{
	color: var(--text-fourth) !important;
}

.font-color-active{
	color: var(--notificaiton) !important;
}

.url-color{
	color: var(--url-primary) !important;
}

/* font-styles */

.font-sm{
	font-size: 0.75rem;
	font-style: normal;
	font-weight: 500;
	line-height: 1.125rem;
}

.font-sm_uppercase{
	letter-spacing: 0.48px;
	text-transform: uppercase;
}

.font-md{
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5rem;
}

.font-lg{
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.625rem;
}

.font-xl{
	font-size: 1.75rem;
	font-style: normal;
	font-weight: 400;
	line-height: 2.375rem;
}

/* font-familys */

.font-Inter{
	font-family: 'Inter';
}