.checkbox{
	display: inline-flex;
	position: relative;
}

.checkbox__input{
	position: absolute;
	opacity: 0;
	left: -100vw;
}

.checkbox__state{
	display: inline-flex;
	align-items: center;
	gap: 12px;
	cursor: pointer;
}

.checkbox__control{
	width: 28px;
	height: 28px;
	border: 1px solid var(--grey-2);
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.checkbox__title{
	color: var(--text-secondary);
}

.checkbox__input:checked ~ .checkbox__state .checkbox__control{
	background-color: var(--primary);
	border-color: var(--primary);
}

.checkbox__input:focus ~ .checkbox__state .checkbox__title{
	text-decoration: underline;
}

.checkbox__input:disabled ~ .checkbox__state{
	pointer-events: none;
}

.checkbox__input:disabled ~ .checkbox__state .checkbox__control{
	background-color: var(--grey-2);
	border-color: var(--grey-2);
}

.checkbox__input:disabled ~ .checkbox__state .checkbox__icon{
	opacity: 0;
}

.checkbox__input:disabled ~ .checkbox__state .checkbox__title{
	color: var(--text-third);
}