.tabs__content{
	display: grid;
    grid-template-rows: repeat(auto-fill, minmax(210px, auto));
    grid-template-columns: repeat(2, calc(50% - 8px));
    grid-gap: 16px;
    padding: 22px 0;
}

@media all and (min-width: 768px){
	.tabs__content{
		grid-template-rows: repeat(auto-fill, minmax(367px, auto));
		grid-template-columns: repeat(3, calc(33.3333% - 20px));
		padding: 68px 0 204px; 
		grid-gap: 30px;
	}
}