.background-image{
	width: 100%;
	height: 100%;
	background-image: url('./public/forest_400.jpg');
	background-size: cover;
}

@media all and (min-width:400px) and (max-width:768px){
	.background-image{
		background-image: url('./public/forest_768.jpg');
	}
}

@media all and (min-width:768px) and (max-width:1024px){
	.background-image{
		background-image: url('./public/forest_1024.jpg');
	}
}

@media all and (min-width:1024px){
	.background-image{
		background-image: url('./public/forest_2560.jpg');
	}
}